@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

* {
  scroll-behavior: smooth;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-style: normal;
}
