@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
}

ul {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-style: normal;
  /* font-weight: 500; */
}

span {
  color: #F0EFE7;
   transition: color 0.3s ease;
}
span:hover {
  color: #00416A;
}

/* making the border of the image animation */
.border-animation {
  width: 10rem;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #26282A;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}